- content_for :html_head do
  :javascript
    var channel = "#{@channel}";
  :css
    body {
      background-color : ##{@bg_color};
    }

- content_for :html_foot do
  %script{:src => rocketio_js}
  %script{:src => "/js/chat.js"}

- content_for :header do
  %div
    %a{:href => "/"} top
  %h1= %Q{"#{@channel}"}
  %div#status
    %span#connection
    %span -
    %span#client_count

%div#chat
  %input{:id => 'name', :value => 'name', :size => 20}
  %input{:id => 'message', :value => 'hello!!', :size => 80}
  %input{:id => 'btn_send', :type => 'button', :value => 'post'}
  %h3#img_select_status
  %ul#img_select
  %ul#logs
