!!! XHTML
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html', :charset => 'UTF-8'}
    %title Sinatra Rocket I/O chat
    %link{:rel => 'stylesheet', :href => "/main.css", :type => 'text/css'}
    :javascript
      var channel = "#{@channel}";
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    %script{:src => rocketio_js}
    %script{:src => "/js/chat.js"}
  %body
    %div#content
      %div#header
        %h1 RocketIO Chat
        %div#status
          %span#connection
          %span -
          %span#client_count

      %div#main
        %div#chat
          %input{:id => 'name', :value => 'name', :size => 20}
          %input{:id => 'message', :value => 'hello!!', :size => 80}
          %input{:id => 'btn_send', :type => 'button', :value => 'post'}
          %ul#timeline
      %hr
      %div#footer
        sinatra-rocketio v#{Sinatra::RocketIO::VERSION} -
        - src_url = 'https://github.com/shokai/rocketio-chat-sample'
        %a{:href => src_url} #{src_url}
