- content_for :html_foot do
  %script{:src => "/js/index.js"}

- content_for :header do
  %h1= app_name
  %p
    #{app_name} is a Image-chat using
    %a{:href => "https://github.com/shokai/sinatra-rocketio"} Sinatra::RocketIO.

%h2 create new chat
%div
  %input{:type => :text, :size => 30, :id => :text_chat_name}
  %input{:type => :button, :value => "go", :id => :btn_create_chat}
%h2 chats
%ul
- @channels.each do |c, count|
  %li
    %span
      %a{:href => "/#{c}"}= c
    %span (#{count} users)
