
$font_black : #222;

a, a:hover, a:visited {
  color : #4B7EC2;
}

html {
  # height : 100%;
  margin : 0px;
  padding : 0px;
}

body {
  font: 12pt "Lucida Grande", Helvetica, Arial, sans-serif;
  color : $font_black;
  height : 100%;
}

#content {
  background-color : #FFF;
  height : 100%;
  margin : 10px;
  padding : 10px;
}

#header .tools {
  text-align : right;
}

#footer {
  text-align : right;
}

ul#img_select {
  list-style : none;
}
ul#img_select li {
  padding : 5px;
  background-color : #FFBBBB;
  float : left
}

ul#logs {
  clear : both;
}
