
$font_black : #222;

a, a:hover, a:visited {
  color : #4B7EC2;
}

html {
  # height : 100%;
  margin : 0px;
  padding : 0px;
}

body {
  color : $font_black;
  height : 100%;
}

#content {
  background-color : #FFF;
  height : 100%;
  margin : 10px;
  padding : 10px;
}

#footer {
  text-align : right;
}
